<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/styles.css')}}">

</head>
<body>
    <div class="login_container">
        <div class="login_content">
            <div class="img_logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </div>
            <div class="login_text">
                <h4>Registro de usuario</h4>
                <p>ingresar tu correo electrónico para acceder al servicio de menu</p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error_message">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>  
                {% endif %}
                {% endwith %}
            </div>
            <form action="" class="login_form" method="POST">
                <div class="group_form">
                    <i class="fa-solid fa-user "></i>
                    <input type="text" placeholder="Nombre de usuario" name="usuario" required>
                </div>
                <div class="group_form">
                    <i class="fa-solid fa-envelope "></i>
                    <input type="email" placeholder="Correo electronico" name="email" required>
                </div>
                <div class="group_form">
                    <i class="fa-solid fa-lock "></i>
                    <input type="password" placeholder="Contraseña" name="contasena" required>
                    <i class="toggle-password" id="togglePassword"></i>
                </div>
                <button type="submit" class="btn">Registrarse</button>
                <div class="login_link">
                    <p>¿Ya tienes cuenta?</p><a href="">¡Inicia sesión aquí!</a>
                </div>
                <div class="separador">
                    <span>o</span>
                </div>
                <div class="login_google">
                    <img src="" alt="Google">Registrarse con Google
                </div>
            </form>
            <div class="login_footer">
                <label>
                    <input type="checkbox" name="terminos" required> Acepto los términos y condiciones
                </label>      
            </div>
        </div>
    </div>
    
</body>
</html>